<div class="roth-dev-layout">
	<ul class="roth-dev-navs">
		<li id="roth-dev-nav-links" class="roth-dev-nav"><a href="#/{{ config.devModule }}/{{ config.devLinksPage }}/">links</a></li>
		<li id="roth-dev-nav-services" class="roth-dev-nav"><a href="#/{{ config.devModule }}/{{ config.devServicesPage }}/">services</a></li>
		<li id="roth-dev-nav-config" class="roth-dev-nav"><a href="#/{{ config.devModule }}/{{ config.devConfigPage }}/">config</a></li>
	</ul>
	<br/>
	<div id="{{ config.pageId }}" class="roth-dev-page"></div>
</div>