<div>
	<pre class="roth-dev-config-pre"><!--
		-->{% var getterRegExp = new RegExp("^(is|get)"); %}<!--
		-->{% forEach(config, function(value, name) { %}<!--
		-->{% if(!getterRegExp.test(name)) { %}<!--
		-->{{ name }} : <!--
		-->{% if(isNull(value)) { %}<!--
		-->null<!--
		-->{% } else if(isObject(value)) { %}<!--
		-->{{ JSON.stringify(value, null, 4) }}<!--
		-->{% } else if(isString(value)) { %}<!--
		-->"{{ value }}"<!--
		-->{% } else { %}<!--
		-->{{ value }}<!--
		-->{% } %}<!--
		--><br/><!--
		-->{% } }); %}<!--
	--></pre>
</div>

<script>
(function()
{
	client.page.ready = function()
	{
		$(".roth-dev-nav").removeClass("roth-dev-nav-active");
		$("#roth-dev-nav-config").addClass("roth-dev-nav-active");
	};
})
();
</script>