{% forEach(config.module, function(moduleData, module) { %}
{% if(isNotEmpty(moduleData.page) && module != "dev") { %}
<div class="roth-dev-panels-link">
	<div class="roth-dev-panel {{ isNotEmpty(data.param) ? "roth-dev-panel-link-param" : "" }}">
		<div class="roth-dev-panel-header">{{ module }}</div>
		<div class="roth-dev-panel-body">
			{% forEach(moduleData.page, function(pageData, page) { 
				var params = config.getParams(module, page); %}
			{% if(isNotEmpty(params)) { %}
			<div style="display:table;width:100%;box-sizing:border-box;">
				<label class="roth-dev-link-label">{{ page }}</label>
				<div class="roth-dev-links">
					{% forEach(params, function(param) { %}
						<div>
							<a class="roth-dev-link" href="javascript:;">#/{{ module }}/{{ page }}/{% 
							forEach(param, function(value, name)
							{ 
								%}{{ name }}/</a><span class="roth-dev-param-value" contenteditable="true">{{ value }}</span><a class="roth-dev-link" href="javascript:;">/{% 
							});
							%}</a>
						</div>
					{% }); %}
				</div>
			</div>
			{% } %}
			{% }); %}
		</div>
	</div>
</div>
{% } %}
{% }); %}

<script>
(function()
{
	
	client.page.ready = function()
	{
		$(".roth-dev-nav").removeClass("roth-dev-nav-active");
		$("#roth-dev-nav-links").addClass("roth-dev-nav-active");
		
		$("span.roth-dev-param-value").dblclick(function(e)
		{
			var selection = window.getSelection();
			var range = document.createRange();
			range.setStart(this, 0);
			range.setEnd(this, 1);
			selection.removeAllRanges();
			selection.addRange(range);
		});
		var setLink = function()
		{
			var element = $(this);
			var parent = element.parent();
			var link = parent.text();
			parent.children("a").attr("href", link);
		}
		$("a.roth-dev-link").each(setLink);
		$("span.roth-dev-param-value").blur(setLink).keypress(function(e)
		{
			if(e.keyCode == 10 || e.keyCode == 13)
			{
				e.preventDefault();
			}
		});
	};
	
})();
</script>