<style>
	textarea
	{
		-moz-tab-size : 4;
		-o-tab-size : 4;
		tab-size : 4;
		font-family : courier;
		resize : none;
	}
</style>
<div class="container-fluid">
	<div class="input-group">
		<span class="input-group-addon">endpoint</span>
		<input id="dev-endpoint" class="form-control" type="text" />
	</div>
	<br/>
	{% for(var service in config.dev.service) {
		var methods = config.dev.service[service]; %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ service }}</h3>
		</div>
		<div class="panel-body">
			<div id="{{ service }}-group" class="panel-group " role="tablist" aria-multiselectable="true">
				{% for(var method in methods) {
					var scenarios = config.getDevServiceRequestScenarios(service, method);
					scenarios = scenarios.length > 0 ? scenarios : [null];
					for(var i in scenarios) {
						var scenario = scenarios[i]; 
						var id = IdUtil.generate(); %}
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-target="#{{ id }}" data-parent="#{{ service }}-group" aria-expanded="false" aria-controls="{{ id }}">{{ method.replace("_", " ") }} {{ isValidString(scenario) ? "- " + scenario : "" }}
							</a>
						</h4>
					</div>
					<div id="{{ id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
						<div class="panel-body">
							<div class="input-group input-group-lg">
								<textarea id="{{ id }}-request" class="form-control" spellcheck="false" style="height:300px;font-size:12px;" data-request="{{ config.getDevServiceRequestPath(service, method, scenario) }}"></textarea>
								<span class="input-group-addon">
									<strong style="margin-right:15px;"><i class="glyphicon glyphicon-menu-left"></i>REQUEST</strong>
									<br/>
									<button class="btn btn-primary btn-lg" type="submit" style="margin:15px;" onclick="client.page.call('{{ id }}', '{{ config.getServicePath(service, method) }}');">call</button>
									<br/>
									<strong style="margin-left:15px;">RESPONSE<i class="glyphicon glyphicon-menu-right"></i></strong>
								</span>
								<textarea id="{{ id }}-response" class="form-control" spellcheck="false" style="height:300px;font-size:12px;"></textarea>
							</div>
						</div>
					</div>
				</div>
				{% } } %}
			</div>
		</div>
	</div>
	{% } %}
</div>

<script>
(function()
{
	client.page.init = function()
	{
		$("#dev-tabs > li").removeClass("active");
		$("#services-tab").addClass("active");
		$("textarea[data-request]").each(function()
		{
			var request = $(this);
			var path = request.attr("data-request");
			request.load(path);
		});
		$("#dev-endpoint").blur(function()
		{
			var devEndpoint = $(this).val();
			if(isValidString(devEndpoint))
			{
				sessionStorage.setItem("devEndpoint", devEndpoint);
			}
		})
		var devEndpoint = sessionStorage.getItem("devEndpoint");
		if(!isSet(devEndpoint))
		{
			devEndpoint = client.endpoint.current();
		}
		if(isSet(devEndpoint))
		{
			$("#dev-endpoint").val(devEndpoint);
		}
	};
	
	client.page.call = function(id, path)
	{
		var endpoint = $("#dev-endpoint").val();
		var requestElement = $("#" + id + "-request");
		var responseElement = $("#" + id + "-response");
		var request = requestElement.val();
		responseElement.val("");
		$.ajax(
		{
			type		: "POST",
			url			: endpoint + path,
			data		: request,
			dataType	: "json",
			cache		: false,
			crossDomain	: true,
			success		: function(response)
			{
				if(isSet(response.csrfToken))
				{
					localStorage.setItem("csrfToken", response.csrfToken);
				}
				responseElement.val(JSON.stringify(response, null, '\t'));
			},
			error		: function(jqXHR, textStatus, errorThrown)
			{
				if(isValidString(errorThrown))
				{
					responseElement.val("ERROR : " + errorThrown);
				}
			},
			complete	: function(jqXHR, textStatus)
			{
				if("success" != textStatus)
				{
					var text = responseElement.val();
					if(isValidString(text))
					{
						text += "\n";
					}
					text += "STATUS : " + textStatus;
					responseElement.val(text);
				}
			}
		});
		
	};
	
})
();
</script>