
.roth-dev-layout
{
	margin-top:15px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	box-sizing:border-box;
	font-size:14px;
	color: #444;
}
.roth-dev-page
{
	margin:0 auto;
	padding:0 15px;
}
.roth-dev-selects
{
	display:none;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	text-align:center;
	z-index:10000;
	background-color:rgba(0, 0, 0, 0.5);
	box-sizing:border-box;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:700;
	font-size:14px;
}
.roth-dev-select
{
	background-color:#fff;
	color:#4b4b4b;
	text-align:left;
	width:300px;
	margin:30px auto;
	padding:0;
	background-clip:padding-box;
	border:1px solid rgba(0, 0, 0, 0.2);
	border-radius:6px;
	outline:0 none;
	box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
}
.roth-dev-select-header
{
	font-size:16px;
	padding:15px;
	border-bottom:1px solid #e5e5e5;
}
.roth-dev-select-body
{
	padding:15px;
}
.roth-dev-select-footer
{
	padding:15px;
	border-top: 1px solid #e5e5e5;
	text-align:right;
}
.roth-dev-radio-button-group
{
	width:100%;
	display:inline-block;
	vertical-align:middle;
}
.roth-dev-radio-button
{
	margin:-1px 0 0 0;
	padding:6px 12px;
	text-align:center;
	border:1px solid #dadada;
	display:block;
	width:100%;
	box-sizing:border-box;
	cursor:pointer;
	border-radius:0;
	position:relative;
}
.roth-dev-radio-button:hover
{
	box-shadow:0 3px 5px rgba(0, 0, 0, 0.125) inset;
	background-color:#e6e6e6;
	border-color:#adadad;
	z-index:2;
}
.roth-dev-radio-button.roth-dev-radio-button-active
{
	box-shadow:0 3px 5px rgba(0, 0, 0, 0.125) inset;
	background-color:#e6e6e6;
	border-color:#adadad;
	z-index:2;
}
.roth-dev-radio-button-group > .roth-dev-radio-button:first-child
{
	border-radius:4px 4px 0 0;
}
.roth-dev-radio-button-group > .roth-dev-radio-button:last-child
{
	border-radius:0 0 4px 4px;
}
.roth-dev-radio-input
{
	position:absolute;
	clip:rect(0px, 0px, 0px, 0px);
	pointer-events:none;
}
.roth-dev-button
{
	border-radius:1px;
	padding:6px 12px;
	margin:0 2px;
	cursor:pointer;
	display:inline-block;
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	color:#fff;
	border:1px solid transparent;
}
.roth-dev-button.roth-dev-button-once
{
	background-color:#5bc0de;
}
.roth-dev-button.roth-dev-button-once:hover
{
	background-color:#31b0d5;
}
.roth-dev-button.roth-dev-button-session
{
	background-color:#47acc3;
}
.roth-dev-button.roth-dev-button-session:hover
{
	background-color:#42a0b5;
}

.roth-dev-params
{
	position:fixed;
	width:200px;
	overflow-y:auto;
	top:59px;
	bottom:0;
	margin-bottom:-15px;
}
.roth-dev-navs
{
	border-bottom: 1px solid #ddd;
	list-style: outside none none;
	margin:0;
	padding:0 0 0 15px;
	display:table;
	width:100%;
	box-sizing: border-box;
}
.roth-dev-nav
{
	float: left;
	margin-bottom: -1px;
	display: block;
	position: relative;
}
.roth-dev-nav.roth-dev-nav-active
{
	z-index:2;
}
.roth-dev-nav.roth-dev-nav-active > a
{
	border-color: #ddd #ddd #fff #ddd;
}
.roth-dev-nav.roth-dev-nav-active > a:hover
{
	background-color: #fff;
}
.roth-dev-nav > a
{
	display: block;
	padding: 10px 15px;
	position: relative;
	text-decoration: none;
	color: #999;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}
.roth-dev-nav > a:hover
{
	background-color: #eee;
}
.roth-dev-panel
{
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 15px;
	width:100%;
}
.roth-dev-panel-header
{
	font-weight:700;
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	font-size:16px;
}
.roth-dev-panel-body
{
	padding: 15px;
}
.roth-dev-panels-link
{
	display:flex;
}
.roth-dev-panel.roth-dev-panel-link-param
{
	box-sizing:border-box;
	display:inline-block;
	vertical-align:top;
	margin-right:15px;
}
.roth-dev-panel.roth-dev-panel-param
{
	box-sizing:border-box;
	width:300px;
	display:inline-block;
	vertical-align:top;
}
.roth-dev-link-label
{
	box-sizing:border-box;
	width: 150px;
	float: left;
	padding: 7px 15px;
	text-align: right;
	display: inline-block;
	font-weight: 700;
	line-height: 1.5;
}
.roth-dev-links
{
	box-sizing:border-box;
	padding: 7px 15px;
	display: inline-block;
	line-height: 1.5;
}
a.roth-dev-link:link, a.roth-dev-link:visited
{
	color: #47acc3;
	text-decoration:none;
}
a.roth-dev-link:hover, a.roth-dev-link:active
{
	text-decoration:underline;
}
.roth-dev-param-value
{
	color: #47acc3;
	margin:0;
	padding:0;
	border: none;
}
.roth-dev-param-value:focus
{
	outline: 0 none;
	margin: -3px 0;
	padding: 3px 0;
	box-shadow: 0 0 12px rgba(148, 214, 233, 0.8);
}
.roth-dev-endpoint
{
	border-collapse: separate;
    display: table;
    position: relative;
    width:100%;
    margin-bottom:15px;
}
.roth-dev-endpoint-label
{
	width: 1%;
	display: table-cell;
	border-radius: 4px 0 0 4px;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 6px 12px;
	font-size:16px;
	font-weight: 700;
	vertical-align: middle;
	border-collapse: separate;
	border-right: 0 none;
}
.roth-dev-endpoint-input
{
	width:100%;
	display: table-cell;
	float: left;
	padding: 8px 8px;
	font-size: 18px;
	border: 1px solid #ccc;
	color: #555;
	border-radius: 0 4px 4px 0;
}
.roth-dev-endpoint-input:focus
{
	outline: 0 none;
	border-color: #94d6e9;
	box-shadow: 0 0 12px rgba(148, 214, 233, 0.8);
}
.roth-dev-panel-header-method
{
	cursor:pointer;
}
.roth-dev-tabs
{
	list-style: outside none none;
	margin:0;
	padding:0 0 0 15px;
	display:table;
	width:100%;
	box-sizing: border-box;
	height:22px;
}
.roth-dev-tab
{
	float: left;
	margin-bottom: -1px;
	display: block;
	position: relative;
	padding: 2px 8px;
	text-decoration: none;
	color: #999;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}
.roth-dev-tab.roth-dev-tab-active
{
	z-index:2;
	background-color: #fff;
	border-color: #ddd #ddd #fff #ddd;
}
.roth-dev-tab:hover
{
	cursor:pointer;
	background-color: #eee;
}
.roth-dev-tab.roth-dev-tab-active:hover
{
	background-color: #fff;
}
.roth-dev-method
{
	width:100%;
	display: table;
	box-sizing:border-box;
}
.roth-dev-request
{
	display: table-cell;
	box-sizing:border-box;
	width:50%;
	max-width:50%;
}
.roth-dev-request-textarea
{
	margin:0;
	position: relative;
	-moz-tab-size : 4;
	-o-tab-size : 4;
	tab-size : 4;
	font-family : Monaco,courier;
	resize : none;
	width:100%;
	height:500px;
	font-size:11px;
	border: 1px solid #ccc;
	color: #555;
	border-radius: 4px 0 0 4px;
	padding:5px;
}
.roth-dev-call
{
	display: table-cell;
	
}
.roth-dev-call-spacer
{
	box-sizing:border-box;
	display: table;
	margin:0;
	height:22px;
}
.roth-dev-call-inner
{
	box-sizing:border-box;
	display: table-cell;
	font-size:10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width:100px;
	height:500px;
	vertical-align:middle;
	text-align:center;
	background-color:#f5f5f5;;
}
.roth-dev-call-request
{
	white-space:nowrap;
	margin-right:10px;
	font-weight:700;
}
.roth-dev-button.roth-dev-call-button
{
	margin:10px;
	background-color:#5bc0de;
	font-size:18px;
	font-weight:700;
	border-radius:3px;
}
.roth-dev-call-response
{
	white-space:nowrap;
	margin-left:10px;
	font-weight:700;
}
.roth-dev-response
{
	display: table-cell;
	box-sizing:border-box;
	width:50%;
	max-width:50%;
}
.roth-dev-response-pre
{
	box-sizing:border-box;
	position: relative;
	-moz-tab-size : 4;
	-o-tab-size : 4;
	tab-size : 4;
	font-family : Monaco,courier;
	width:100%;
	height:500px;
	font-size:11px;
	border: 1px solid #ccc;
	color: #555;
	border-radius: 0 4px 4px 0;
	display: inline-block;
	margin:0;
	padding:5px;
	overflow:auto;
	background-color:#fff;
}
.roth-dev-config-pre
{
	background-color:#fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-moz-tab-size : 4;
	-o-tab-size : 4;
	tab-size : 4;
	font-family : Monaco,courier;
	color: #555;
	padding:15px;
}