.roth-dev-selects
{
	display:none;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	text-align:center;
	z-index:10000;
	background-color:rgba(0, 0, 0, 0.5);
	box-sizing:border-box;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:700;
	font-size:14px;
}
.roth-dev-select
{
	background-color:#fff;
	color:#4b4b4b;
	text-align:left;
	width:300px;
	margin:30px auto;
	padding:0;
	background-clip:padding-box;
	border:1px solid rgba(0, 0, 0, 0.2);
	border-radius:6px;
	outline:0 none;
	box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
}
.roth-dev-select-header
{
	font-size:16px;
	padding:15px;
	border-bottom:1px solid #e5e5e5;
}
.roth-dev-select-body
{
	padding:15px;
}
.roth-dev-select-footer
{
	padding:15px;
	border-top: 1px solid #e5e5e5;
	text-align:right;
}
.roth-dev-radio-button-group
{
	width:100%;
	display:inline-block;
	vertical-align:middle;
}
.roth-dev-radio-button
{
	margin:-1px 0 0 0;
	padding:6px 12px;
	text-align:center;
	border:1px solid #dadada;
	display:block;
	width:100%;
	box-sizing:border-box;
	cursor:pointer;
	border-radius:0;
	position:relative;
}
.roth-dev-radio-button:hover
{
	box-shadow:0 3px 5px rgba(0, 0, 0, 0.125) inset;
	background-color:#e6e6e6;
	border-color:#adadad;
	z-index:2;
}
.roth-dev-radio-button.roth-dev-radio-button-active
{
	box-shadow:0 3px 5px rgba(0, 0, 0, 0.125) inset;
	background-color:#e6e6e6;
	border-color:#adadad;
	z-index:2;
}
.roth-dev-radio-button-group > .roth-dev-radio-button:first-child
{
	border-radius:4px 4px 0 0;
}
.roth-dev-radio-button-group > .roth-dev-radio-button:last-child
{
	border-radius:0 0 4px 4px;
}
.roth-dev-radio-input
{
	position:absolute;
	clip:rect(0px, 0px, 0px, 0px);
	pointer-events:none;
}
.roth-dev-button
{
	border-radius:1px;
	padding:6px 12px;
	margin:0 2px;
	cursor:pointer;
	display:inline-block;
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	color:#fff;
	border:1px solid transparent;
}
.roth-dev-button.roth-dev-button-once
{
	background-color:#5bc0de;
}
.roth-dev-button.roth-dev-button-once:hover
{
	background-color:#31b0d5;
}
.roth-dev-button.roth-dev-button-session
{
	background-color:#47acc3;
}
.roth-dev-button.roth-dev-button-session:hover
{
	background-color:#42a0b5;
}