<div id="{{ id }}" class="modal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ context }}</h4>
			</div>
			<div class="modal-body">
				<div class="btn-group-vertical btn-block" data-toggle="buttons">
					{% var first = true;
					for(var i in values) { 
						var value = values[i]; %}
					<label class="btn btn-default{{ first ? " active" : "" }}">
						<input name="response" value="{{ value }}" type="radio" autocomplete="off"{{ first ? " checked" : "" }} />{{ value }}
					</label>
					{% first = false; } %}
				</div>
			</div>
			<div class="modal-footer">
				<button id="{{ id }}-once" class="btn btn-info" type="button">Once</button>
				<button id="{{ id }}-session" class="btn btn-primary" type="button">Session</button>
			</div>
		</div>
	</div>
</div>