<div id="{{ id }}-select" class="roth-dev-select">
	<div class="roth-dev-select-header">{{ context }}</div>
	<div class="roth-dev-select-body">
		<div class="roth-dev-radio-button-group">
			{% forEach(values, function(value, i, loop) { %}
			<label class="roth-dev-radio-button {{ loop.first ? "roth-dev-radio-button-active" : "" }}" onclick="$(this).siblings().removeClass('roth-dev-radio-button-active');$(this).addClass('roth-dev-radio-button-active');">
				<input class="roth-dev-radio-input" name="{{ id }}-response" value="{{ value }}" type="radio" autocomplete="off" {{ loop.first ? "checked" : "" }} />{{ value }}
			</label>
			{% }); %}
		</div>
	</div>
	<div class="roth-dev-select-footer">
		<button id="{{ id }}-once" type="button" class="roth-dev-button roth-dev-button-once">Once</button>
		<button id="{{ id }}-session" type="button" class="roth-dev-button roth-dev-button-session">Session</button>
	</div>
</div>