<div class="container-fluid">
	{% for(var module in config.dev.link) {
		var pages = config.dev.link[module]; %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ module }}</h3>
		</div>
		<div class="panel-body">
			{% for(var page in pages) { 
				var links = pages[page]; %}
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">{{ page }}</label>
					<div class="col-sm-10 form-control-static">
						{% for(var i in links) { 
							var link = links[i]; %}
						<a href="{{ link }}">{{ link }}</a><br/>
						{% } %}
					</div>
				</div>
			</div>
			{% } %}
		</div>
	</div>
	{% } %}
</div>

<script>
(function()
{
	client.page.init = function()
	{
		$("#dev-tabs > li").removeClass("active");
		$("#links-tab").addClass("active");
	};
})
();
</script>